
.temp-wrapper {
  height: 25px;
  width: 55px;
  position: absolute;
  top: 82px;
  left: unset;
  left: 12px;
}

@media screen and (min-width: 500px) {
  .temp-wrapper {
    height: 25px;
    width: 55px;
    position: absolute;
    top: 12px;
    right: 12px;
    left: unset;
  }
}

.clouds-animation-2 {
  animation: myAnim 40s ease-in-out 0s infinite normal backwards;
}

.clouds-animation-1 {
  animation: myAnim 30s ease-in-out 0s infinite normal forwards;
}


@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}